body {
  background-image: url(../media/collage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

#main {
  width: 800px;
  font-family: "Arima Madurai", cursive;
  /* background-color: forestgreen; */
  opacity: 85%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  color: antiquewhite;
}

#results {
  width: 700px;
  /* background-color: black; */
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;
}

.result-card {
  width: 600px;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

a {
  cursor: pointer;
  color: white;
}

#header {
  color: White;
  font-size: 40px;
  margin: auto;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

#submit {
  background-color: whitesmoke;
  border-radius: 10px;
  border: 2px solid black;
  width: 90px;
  height: 30px;
}

#submit:hover {
  text-decoration: underline;
  cursor: pointer;
}


